* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.woff");
    font-weight: 400px;
    font-style: normal;
  }
  
  @font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.woff");
    font-weight: 400px;
    font-style: bold;
  }
  
  .header {
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    z-index: 0;
    padding: 29px 0;
    padding-bottom: 146px;
    width: 100vw;
  }

  @media (min-width:768px) and (max-width: 1199px) {
    .header {
      background-image: url("../images/banner-bg-tablet.jpg");
    }
  }

  @media (max-width: 767px) {
    .header {
      background-image: url("../images/banner-mobile.jpg");
    }
  }
  
  .header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
  }
  
  .container {
    display: flex;
    width: 100vw;
    max-width: 1200px;
    padding: 0 15px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  @media (min-width:768px) and (max-width: 1199px) {
    .container {
      width: 90%;
    }
    
  }
  
  .logo {
    width: 182px;
  }

  .menu {
    display: flex;
    justify-content: space-between;
  }
  
  .menu-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
  }
  
  .menu-list-item:nth-child(n + 2) {
    margin-left: 36px;
  }
  
  .menu-link {
    text-decoration: none;
    color: white;
    font-size: 0.875rem;
    font-family: OpenSans;
    text-transform: uppercase;
  }
  
  .menu-link:hover {
    text-decoration: underline;
  }
  
  
  @media (max-width: 1199px) {
    .menu {
      display: none;
    }
    .burger_menu, .burger_menu::after, .burger_menu::before {
      display: block;
      position: relative;
      width: 24px;
      height: 3px;
      background-color: #c8cccb;
      margin-right: 0;
    }
    .menu_burger::after {
      content: "";
      bottom: 5px;
    }

    .burger_menu::before {
      content: "";
      top: 5px;
    }
  }
  

  .intro {
    display: flex;
    width: 65%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 115px;
  }
  
  .welcome-title {
    width: 700px;
    text-align: center;
    text-transform: uppercase;
    font-family: OpenSans-Bold;
    color: white;
    font-size: 2.875rem;
    line-height: 1.7;
  }

  
  @media (min-width:768px) and (max-width: 1199px) {
    .welcome-title {
      font-size: 2.5rem;
    }
  }

  @media (max-width:767px) {
    .welcome-title {
      font-size: 1.625rem;
    }
  }

  
  .trend-title {
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 63px;

  }

  @media (max-width:767px) {
    .trend-title {
      margin-top: 44px;
    }
  }

  .trend-title::after {
    content: "";
    opacity: 0.4;
    width: 64px;
    height: 3px;
    background-color: rgb(181, 159, 91);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 26px;
  }

  .trend-cards {
    display: flex;
    justify-content: space-between;
  } 

  .trend-card {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000; 
    position: relative;
    z-index: 0;
    width: 24.8%;
    min-height: 16em;
    display: flex;
    align-items: flex-end;

    text-align: center;
    color: white;
  }

  @media (min-width:768px) and (max-width: 1199px) {
    .trend-cards {
      flex-wrap: wrap;
    }
    .trend-card {
      width: 49.5%
    }
    .trend-card:nth-child(n+3){
      margin-top: 1%;
    }
  }

  @media (max-width: 767px) {
    .trend-cards {
      flex-direction: column;
    }
    
    .trend-card {
      width: 100%;
    }

    .trend-card:nth-child(n+1){
      margin-top: 1%;
    }


  } 

  .trend-card:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
  }

  .trend-card_1 {
    background-image: url("../images/trend1.jpg");
  }

  .trend-card_2 {
    background-image: url("../images/trend2.jpg");
  }

  .trend-card_3 {
    background-image: url("../images/trend3.jpg");
  }

  .trend-card_4 {
    background-image: url("../images/trend4.jpg");
  }

  .trend-card-content {
    border: solid #b59f5b 1px;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    padding: 5%;

  }

  .trend-card-title-link {
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: left;
  }

  @media (min-width:768px) and (max-width: 1199px) {
    .trend-card-title-link {
      font-size: 1.1rem;
    }
  }



  .trend-card-title-link:hover {
    color: #b59f5b;
  }
  
  .new-post {
    display: flex;
  }
  
  .page {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
  }

  @media (max-width: 1199px) {
    .content {
      width: 90%;
    }
  }

  @media (max-width: 767px) {
    .content {
      flex-direction: column;
    }
  }
  
  .main {
    width: 65%;
    margin-right: 129px;
  }

  @media (min-width:768px) and (max-width: 1199px) {
    .main {
      margin-right: 10%;
    }
  }

  @media (max-width:767px) {
    .main {
      width: 100%;
    }
  }
  
  .card {
    display: flex;
    align-items: flex-start;
  }

  .card:nth-child(n + 2) {
    margin-top: 64px;
  }

  @media (max-width: 1199px) {
    .card {
      flex-direction: column;
    }
  }

  @media (min-width:768px) and (max-width: 1199px)  {
    .card:nth-child(n + 2) {
      margin-top: 64px;
    }
  }
 
  @media (max-width: 767px) {
    .card:nth-child(n + 2) {
      margin-top: 35px;
    }
  }
  
  .pic {
    width: 45%;
  }
  
  @media (max-width: 1199px) {
    .pic {
      width: 100%;
    }
  }

  .title {
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
    font-size: 1.25rem;
  }

  @media (max-width: 1199px) {
    .title {
      font-size: 1rem;
    }
  }
  
  .card-content {
    color: black;
    font-family: OpenSans;
    margin-left: 30px;
  }

  @media (max-width: 1199px) {
    .card-content {
      margin-left: 0px;
    }
  }
  
  .tags {
    display: flex;
    list-style-type: none;
  }

  @media (max-width: 1199px) {
    .tags {
      margin-top: 15px;
    }
  }
  
  .tag-item:nth-child(n + 2) {
    margin-left: 18px;
  }
  
  .tag-link {
    text-decoration: none;
    color: #b59f5b;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: OpenSans;
  }
  
  .tag-link:hover {
    text-decoration: underline;
  }
  
  .title-link {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 13px;
  }

  @media (max-width: 1199px) {
    .title-link {
      font-size: 1rem;
    }
  }

  .title-link:hover {
    color: #b59f5b;
  }
  
  .info {
    display: flex;
    margin-top: 38px;
  }

  @media (max-width: 767px) {
    .info {
      margin-top: 25px;
    }
  }
  
  
  
  .author {
    font-size: 0.75rem;
    font-weight: bold;
    margin-left: 15px;
  }
  
  .date {
    font-size: 0.75rem;
    opacity: 0.54;
  }
  
  .post-text {
    font-size: 1rem;
    margin-top: 53px;
  }

  @media (max-width: 1199px) {
    .post-text {
      margin-top: 35px;
    }
    .post-text::after {
      content: "";
      opacity: 0.4;
      width: 100%;
      height: 3px;
      background-color: #eeeeee;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 17px;
    }
  }

  @media (max-width: 767px) {
    .post-text {
      margin-top: 25px;
    }
  }
  

  .aside {
    width: 276px;
    font-family: OpenSans;
  }

  @media (max-width: 767px) {
    .aside {
      width: 100%;
    }
  }

  
  .aside-title {
    display: block;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
    font-size: 0.875rem;
    text-align: center;
    margin-bottom: 14px;
  }
  
  .aside-title::after {
    content: "";
    opacity: 0.4;
    width: 64px;
    height: 3px;
    background-color: rgb(181, 159, 91);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 26px;
  }

  @media (max-width: 767px) {
    .aside-title {
      font-size: 1rem;
      margin-top: 44px;
    }
  }
  
  .new-post {
    display: flex;
  }
  
  .new-post:nth-child(n + 2) {
    margin-top: 22px;
  }
  
  .small-pic {
    width: 70px;
  }
  
  .small-title-link {
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
    font-size: 0.875rem;
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .small-title-link:hover {
    color: #b59f5b;
  }
  
  .post-content {
    color: black;
    font-family: OpenSans;
    margin-left: 24px;
    text-align: left;
  }
  
  .section-search {
    margin-top: 60px;
  }
  
  .field {
    width: 231px;
    border: none;
    padding: 15px 20px;
    background-color: #f4f7f6;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .field:focus {
    outline: 1px solid #b59f5b;
  }

  @media (max-width: 767px) {
    .field {
      width: calc(100% - 45px);
    }
  }

  .button {
    width: 45px;
    height: 45px;
    display: inline-block;
    background-color: rgb(181, 159, 91);
    border: none;
    cursor: pointer;
    position: absolute;

  }
  
  .search_sr {
    display: none;
  }
  
  .button:hover {
    background-color: #323232;
  }
  
  .button::before {
    content: "find";
    color: transparent;
    background: url("../svg/search.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 1.125rem;
  }
  
  .section-subscribe {
    margin-top: 62px;
  }
  
  .mail-field {
    width: 276px;
    border: none;
    padding: 15px 20px;
    background-color: #f4f7f6;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .mail-field:focus {
    outline: 1px solid #b59f5b;
  }
  
  .subscribe_sr {
    display: none;
  }
  
  .mail-button {
    width: 276px;
    height: 45px;
    border: none;
    margin-top: 17px;
    color: white;
    background-color: #b59f5b;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
    font-size: 0.875rem;
    cursor: pointer;
  }
  
  .mail-button:hover {
    background-color: #323232;
  }
  
  @media (max-width: 767px) {
    .mail-button {
      width: 100%;
    }

    .mail-field {
      width: 100%
    }
  }
  .section-tags {
    margin-top: 60px;
  }
  
  .tag-menu {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
  }
  
  .tag-el {
    border: 3px solid #f4f7f6;
    padding: 3px 15px;
    margin-bottom: 8px;
    margin-right: 3px;
  }
  
  .tag-el:hover {
    border: 3px solid #b59f5b;
  }
  
  .tag-m-link {
    text-decoration: none;
    font-size: 0.75rem;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
    color: black;
  }
  
  .section-themes {
    margin-top: 60px;
  }
  
  .themes {
    list-style-type: none;
  }
  
  .theme-el {
    border-bottom: 2px solid #f4f7f6;
    padding: 15px 0;
  }
  
  .theme-link {
    text-decoration: none;
    font-size: 0.875rem;
    font-family: "OpenSans-Bold";
    color: black;
  }

  .theme-link:hover {
    color: #b59f5b;
  }
  
  .number {
    text-decoration: none;
    font-size: 0.875rem;
    font-family: "OpenSans-Bold";
    color: #b59f5b;
    margin-left: 2px;
    vertical-align: super;
  }

  .our_products {
    width: 96%;
    margin:auto
  }
  

  .product-cards {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
  }

  @media (min-width:768px) and (max-width: 1199px) {
    .product-cards {
      width: 90%;
      flex-wrap: wrap;
    }
  }

  @media (max-width:767px) {
    .product-cards {
      width: 80%;
      flex-wrap: wrap;
    }
  }

  .product-card {
    display: flex;
    flex-direction: column;
    width: 25%;
  }

  @media (max-width: 767px) {
    .product-cards {
      flex-direction: column;
    }
    .product-card {
      width: 100%;
    }
    
    .product-card:nth-child(n+1) {
      margin-top: 24px;
    }
  }

  @media (min-width:768px) and (max-width: 1199px) {
    .product-card {
      width: 45%;
    }
    .product-card:nth-child(n+3) {
      margin-top: 28px;
    }
  }

  .product-pic {
    width: 100%;
    flex-grow: 1;
  }
  .product-text {
    font-family: "OpenSans";
    font-size: 1rem;
    margin-top: 17px;
  }

  .product-card-content {
    border:rgb(181, 159, 91) solid 1px;
    padding-top: 56px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    margin-top: -30px;
    margin-left: -20px;
    margin-right: -20px;
    flex-grow: 1;
  }

  .product-card-title-link {
    text-decoration: none;
    color: #b59f5b;
  }

  .shop_link {
    font-family: "OpenSans-Bold";
    font-size: 0.875rem;
    display: inline-block;
    height: 48px; 
    background: #b59f5b;
    padding-left: 28px; 
    padding-right: 28px;
    padding-top: 16px; 
    text-decoration: none;
    color: white;
  }

  .shop_link:hover {
    background: black;
  }
  .prices {
    font-family: OpenSans-Bold;
  }

  .old_price {
    text-decoration: line-through;
    font-size: 0.875rem; 
  }

  .new_price {
    font-size: 1.25rem;
  }

  .buy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 26px;
  }
  
  .footer {
    margin-top: 64px;
    padding-bottom: 40px;
  }
  
  .contacts {
    display: flex;
    width: 70%;
    background-color: #f4f7f6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
  }

  @media (max-width: 1199px) {
    .contacts {
      width: 90%;
    }
  }
  
  .social-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

  }
  
  .soc-list-el {
    margin: auto;
  }
  
  .sm_sr {
    display: none;
  }
  
  .tw {
    display: block;
    height: 20px;
    width: 20px;
    background-image: url("../svg/004-twitter.svg");
  }
  
  .pn {
    display: block;
    height: 20px;
    width: 20px;
    background-image: url("../svg/001-pinterest.svg");
  }
  
  .fb {
    display: block;
    height: 20px;
    width: 20px;
    background-size: 20px;
    background-image: url("../svg/002-facebook-logo.svg");
  }
  
  .inst {
    display: block;
    height: 20px;
    width: 20px;
    background-image: url("../svg/005-instagram.svg");
  }
  
  .tm {
    display: block;
    height: 20px;
    width: 20px;
    background-image: url("../svg/003-tumblr.svg");
  }
  
  .soc-list-el:nth-child(n + 2) {
    margin-left: 25px;
  }
  
  .copyright {
    margin-top: 30px;
    text-align: center;
  }
  
  .c_r {
    font-size: 0.75rem;
    opacity: 0.54;
  }

  .popup {
    display: none;
    position: fixed;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    z-index: 99;
    transition: opacity 400ms ease-in;
    top: 0px;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    
  }


  .close-button {
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    display: inline-block;
    background: transparent;
    border: none;
    cursor: pointer;
    right: 0;
    top: -2.2rem;

  }
  .close-button::before {
    content: "close";
    color: transparent;
    background-image: url("../svg/form-x.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.125rem;
    display: block;
    width: 1.6rem;
    height: 1.6rem;
  }

  .close {
    display: none;
  }

  @media (max-width:768px) {
    .close-button {
      top: -1.7rem

    }
  }
  
  .popup-content {
    position: relative;
    width: 30vw;
    height: 60vh;
    margin: auto;
    margin-top: 16rem;
    padding: 40px;
    background-color: white;
    z-index: 100;
  }

  @media (min-width:768px) and (max-width: 1199px) {
    .popup-content {
      width: 50%;
    }
  }

  

  .popup-title {
    font-family: OpenSans-Bold;
    text-transform: uppercase;
    color: black;
    font-size: 1.25rem;
    text-align: center;
  }

  .popup-title::after {
    content: "";
    opacity: 0.4;
    width: 4rem;
    height: 0.25rem;
    background-color: rgb(181, 159, 91);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 26px;
  }

  

  .form-question {
    font-family: OpenSans;
    font-size: 0.75rem;
    margin-bottom: 0.75rem;
    margin-top: 2.25rem;
    width: 100%;
  }

  @media (max-width:768px) {
    .popup-content {
      width: 90%;
      height: 98%;
      margin-top: 1.7rem;
      padding: 28px;
    }
    .popup-title {
      font-size: 1rem;
    }
    .form-question {
      margin-top: 1.625rem;
    }
  }

  .select {
    display: block;
    font-family: OpenSans;
    font-size: 0.75rem;
    width: 100%;
    height: 3rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 0.5rem 1rem;
    background-color: #f4f7f6;
    border: none;
    
  }

  .select:focus {
    border-bottom: rgb(181, 159, 91) solid 1px;
    outline:none;
  }

  .option {
    margin-left: 10px;
  }

  .radio {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .radio-group {
    font-family: OpenSans;
    font-size: 0.75rem;
  }

  .radio-group-text {
    margin-right: 15px;
    cursor: pointer;
  }

  .radio-group-text::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;

    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;

    vertical-align: middle;
    margin-right: 5px;

  }

  .radio:checked ~ .radio-group-text::before {
    background-image: url("../svg/form-circle.svg");

  }

  .popup-field {
    font-family: OpenSans;
    width: 100%;
    background-color: #f4f7f6;
    padding: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    
    min-height: 130px;
    max-height: 130px;
    font-size: 0.75rem;
  }

  .popup-field:focus{
    border-bottom: rgb(181, 159, 91) solid 1px;
    outline:none;
  }

  .popup-button {
    width: 100%;
    height: 45px;
    border: none;
    margin-top: 17px;
    color: white;
    background-color: #b59f5b;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
    font-size: 0.875rem;
    cursor: pointer;
  }
  .popup-button:hover {
    background-color: #323232; 
  }



